@model AutoSeller.ViewModel.AutomobileFormViewModel
@{
    ViewBag.Title = "AutomobileForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.Automobile != null && Model.Automobile.Id != 0)
{
    <h2>Edit Automobile</h2>
}
else
{
    <h2>New Automobile</h2>
}

@using (Html.BeginForm("Save", "Automobiles"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Automobile.Name)
        @Html.TextBoxFor(m => m.Automobile.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Automobile.ReleaseDate)
        @Html.TextBoxFor(m => m.Automobile.ReleaseDate, "{0:d MMM yyyy}", new { @class = "form-control" })
    </div>
        <div class="form-group">
        @Html.LabelFor(m => m.Automobile.DateImported)
        @Html.TextBoxFor(m => m.Automobile.DateImported, "{0:d MMM yyyy}", new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Automobile.CountryId)
        @Html.DropDownListFor(m => m.Automobile.CountryId, new SelectList(Model.Countries, "Id", "Name"), "Select Country", new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Automobile.NuberInStock)
        @Html.TextBoxFor(m => m.Automobile.NuberInStock, new { @class = "form-control" })
    </div>

    //here we will declare all hidden fields
    @Html.HiddenFor(m => m.Automobile.Id)
    <button type="submit" class="btn btn-primary">Save</button>
}

