@model AutoSeller.ViewModel.AutomobileFilterViewModel

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container ">
    <img src="@Url.Content("~/Content/Images/no_photo_available.png")" width="80" height="80" hspace="20"/>
    <text style="color:midnightblue;font-family:cursive;font-size:200%;">Welcome to our page! We have the best car for you. Just take a look at our offers.</text>
</div>


@using (Html.BeginForm("Home", "Automobiles"))
{
    <p>
        Make:
        @Html.DropDownListFor(m => m.Automobile.AutomobileMakeId, new SelectList(Model.AutomobileMakeList.OrderBy(m => m.Name), "Id", "Name"), "Select Make", new { @id = "make_id", @class = "form-control", @onchange = "ajax(this.value)" })
        Model:
        @Html.DropDownListFor(m => m.Automobile.AutomobileModelId, Enumerable.Empty<SelectListItem>(), "Select Model", new { @id = "model_dropdown", @class = "form-control" })
        Year:
        @Html.TextBoxFor(m => Model.Year, new { @class = "form-control" })
        <input type="submit" value="Search" class="btn btn-primary" />
    </p>
}

@if (!Model.AutomobileList.Any())
{
    <p style="color:red;">There aren't any found results.</p>
}
else
{
    // <a class="btn btn-primary" href="http://localhost:1813/Automobiles/New" role="button">New Automobile</a>
    <table id="automobiles" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th></th>
                <th>Countries</th>
                <th>Makes</th>
                <th>Models</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var automobile in Model.AutomobileList)
            {
                <tr>
                    <td>
                        @if (automobile.FileModels.Any())
                        {
                            <img src="@Url.Content(automobile.FileModels.First().ImagePath)" width="150" height="150" hspace="20" />
                        }
                        else
                        {
                            <img src="@Url.Content("~/Content/Images/no_photo_available.png")" width="150" height="150" hspace="20" />
                        }
                    </td>
                    <td>@automobile.Country.Name</td>
                    <td>@automobile.AutomobileMake.Name</td>
                    <td>@automobile.AutomobileModel.Name</td>
                </tr>
            }
        </tbody>
    </table>
}


@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

}

<script type="text/javascript">

    var ajax = function () {
        var makeId = $('#make_id').val();
        $.ajax({
            type: 'GET',
            data: { makeId: makeId },
            url: '@Url.Action("GetModel","Automobiles")',
            success: function (result) {
                helpers.buildDropdown(
                    result,
                    $('#model_dropdown'),
                    'Select Model'
                );
            },

            error: function () {
                $('#model_dropdown').html('');
                $('#model_dropdown').append('<option value="">Select Model</option>');
            }
        })
    }

    var helpers =
        {
            buildDropdown: function (result, dropdown, emptyMessage) {
                // Remove current options
                dropdown.html('');
                // Add the empty option with the empty message
                dropdown.append('<option value="">' + emptyMessage + '</option>');
                // Check result isnt empty
                if (result != '') {
                    // Loop through each of the results and append the option to the dropdown
                    $.each(result, function (k, v) {
                        dropdown.append('<option value="' + v.Id + '">' + v.Name + '</option>');
                    });
                }
            }
        }
</script>


