@model AutoSeller.ViewModel.AutomobileFilterViewModel

@{
    ViewBag.Title = "Automobiles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Automobiles</h2>

<p>
    @Html.ActionLink("New Automobile", "New", "Automobiles", null, new { @class = "btn btn-primary" })
</p>

@using (Html.BeginForm("Index", "Automobiles"))
{
<p>
    Make:
    @Html.DropDownListFor(m => m.Automobile.AutomobileMakeId, new SelectList(Model.AutomobileMakeList.OrderBy(m => m.Name), "Id", "Name"), "Select Make", new { @id="make_id", @class = "form-control", @onchange = "ajax(this.value)" })
    Model:
    @Html.DropDownListFor(m => m.Automobile.AutomobileModelId, Enumerable.Empty<SelectListItem>(), "Select Model", new { @id = "model_dropdown", @class = "form-control" })
    Year:
    @Html.TextBoxFor(m => Model.Year, new { @class = "form-control" })
    <input type="submit" value="Search" class="btn btn-primary"/>
</p>
}

@if (!Model.AutomobileList.Any())
{
    <p style="color:red;">There aren't any found results.</p>
}
else
{
    // <a class="btn btn-primary" href="http://localhost:1813/Automobiles/New" role="button">New Automobile</a>
    <table id="automobiles" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th></th>
                <th>Countries</th>
                <th>Makes</th>
                <th>Models</th>
                <th>Views</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var automobile in Model.AutomobileList)
            {
            <tr>
                <td>
                    @if (automobile.FileModels.Any())
                    {
                        <img src="@Url.Content(automobile.FileModels.First().ImagePath)" width="150" height="150" hspace="20" />
                    }
                    else
                    {
                        <img src="@Url.Content("~/Content/Images/no_photo_available.png")" width="150" height="150" hspace="20" />
                    }
                </td>
                <td>@automobile.Country.Name</td>
                <td>@automobile.AutomobileMake.Name</td>
                <td>@automobile.AutomobileModel.Name</td>                
                <td>@automobile.Counter.GetValueOrDefault()</td>
                <td>@Html.ActionLink("Edit", "Edit", "Automobiles", new { id = automobile.Id }, null)</td>
                <td>
                    <button data-automobile-id="@automobile.Id" class="btn-link js-delete">Delete</button>
                </td>
            </tr>
            }
        </tbody>
    </table>
}


@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        var automobileId = $("#automobiles .js-delete").attr("data-automobile-id");

        $(document).ready(function () {

            $("#automobiles .js-delete").on("click", function () {

                var button = $(this);

                bootbox.confirm("Are you sure you want to delete this automobile?", function (result) {
                    if (result) {
                        $.ajax({
                            type: 'POST',
                            data: { id: automobileId },
                            url: '@Url.Action("Delete","Automobiles")',
                            success: function (result) {
                                button.parents("tr").remove();
                                console.log("The automobile was successfully deleted.");
                            }
                        });
                    }
                });
            });

        });
    </script>
}

<script type="text/javascript">
    
    var ajax = function () {
        var makeId = $('#make_id').val();
        $.ajax({
            type: 'GET',
            data: { makeId: makeId },
            url: '@Url.Action("GetModel","Automobiles")',
            success: function (result) {
                helpers.buildDropdown(
                    result,
                    $('#model_dropdown'),
                    'Select Model'
                );
            },

            error: function () {
                $('#model_dropdown').html('');
                $('#model_dropdown').append('<option value="">Select Model</option>');
            }
        })
    }

    var helpers =
        {
            buildDropdown: function (result, dropdown, emptyMessage) {
                // Remove current options
                dropdown.html('');
                // Add the empty option with the empty message
                dropdown.append('<option value="">' + emptyMessage + '</option>');
                // Check result isnt empty
                if (result != '') {
                    // Loop through each of the results and append the option to the dropdown
                    $.each(result, function (k, v) {
                        dropdown.append('<option value="' + v.Id + '">' + v.Name + '</option>');                        
                    });
                }
            }
        }


    

</script>